<div class="ui container">

  <div class="ui menu">
    <div class="header item">
      Angular in love with Redux
    </div>
    <a routerLink="/users" class="item active">
      GitHub users
    </a>
    <a routerLink="/repositories" class="item">
      GitHub repositories
    </a>
    <div *ngIf="usersIsFetching$ | async" class="right menu">
      <div class="item">
        <div class="ui active inline loader mini"></div>
      </div>
    </div>
  </div>

  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>User</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (usersData$ | async)">
        <td class="collapsing">
          <h4 class="ui image header">
            <img [src]="user.avatar_url" class="ui mini rounded image">
            <div class="content">
              {{ user.login }}
              <div class="sub header">{{ user.type }}</div>
            </div>
          </h4>
        </td>
        <td class="collapsing">{{ user.html_url }}</td>
      </tr>
    </tbody>
  </table>

</div>

